* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color-two: #f3f5f7;
  --secondary-color: #57e5a7;
  --text-color: #ffffff;
  --text-color-opacity: #ffffff8a;
  --color-white-10: white;
  --color-black-7: rgba(0, 0, 0, 0.7);
}

.container {
  width: 90%;
  margin-inline: auto;
}

.header {
  width: 100%;
  background-attachment: fixed;
}

.navigation {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./../../image/header.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 0 10px 0;
}

.navigation .box-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation .box-navigation img {
  width: 80px;
}

.navigation .box-navigation .box:nth-child(2) ul {
  display: flex;
  flex-direction: row;
}

.navigation .box-navigation .box:nth-child(2) ul li {
  list-style-type: none;
  margin-left: 40px;
}

.navigation .box-navigation .box:nth-child(2) ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.navigation .box-navigation .box:nth-child(2) ul li a:hover {
  color: var(--secondary-color);
}

.navigation .box-navigation .box:nth-child(3) i {
  display: none;
}

.navigation .box-navigation .box:nth-child(2) ul li i {
  display: none;
}

/* hero */
header .hero {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

header .hero h1 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 54px;
  text-align: center;
}

/* about */
.about {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #f9f7f3;
}

.about .box-about .box:nth-child(1) {
  padding-right: 30px;
}

.about .box-about .box:nth-child(1) h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.about .box-about .box:nth-child(1) p {
  line-height: 2;
}

.about .box-about .box:nth-child(2) img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 600px;
}

.about .box-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* layanan */
.layanan {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #2b2d42;
}

.layanan .box-layanan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.layanan .box-layanan .box {
  text-align: center;
  margin-inline: 20px;
  color: white;
}

.layanan .box-layanan .box img {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 10px;
}

/* gallery */
.gallery {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #f9f7f3;
}

.gallery .box-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery .box-gallery img {
  width: 300px;
  height: 200px;
  margin: 10px;
}

.gallery .box-gallery img:hover {
  transform: scale(1.1);
}

/* contact */
.contact {
  width: 100%;
  min-height: 100vh;
  background-color: #2b2d42;
  padding-top: 100px;
  padding-bottom: 200px;
}

.contact .contact-box .box {
  text-align: center;
  padding-bottom: 50px;
}

.contact .contact-box .box h1 {
  font-weight: 800;
  color: var(--text-color);
  margin-bottom: 10px;
}

.contact .contact-box .box p {
  color: var(--text-color-opacity);
  width: 70%;
  margin-inline: auto;
  line-height: 1.7;
}

.contact .contact-box .form-contact form table {
  margin-inline: auto;
}

.contact .contact-box .form-contact form table tr td input,
.contact .contact-box .form-contact form table tr td textarea {
  padding: 20px;
  font-size: 16px;
  border: none;
  margin: 5px 0 5px 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 100%;
}

.contact .contact-box .form-contact form table tr td input:focus,
.contact .contact-box .form-contact form table tr td textarea:focus {
  background-color: var(--secondary-color);
}

.contact .contact-box .form-contact form table tr:nth-child(1) td:nth-child(1) {
  padding-right: 5px;
}

.contact .contact-box .form-contact form table tr:nth-child(1) td:nth-child(2) {
  padding-left: 5px;
}

.contact .contact-box .form-contact form table tr td button {
  width: 100%;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/* footer */
.footer {
  background-color: #2b2d42;
  padding: 100px 0 100px 0;
  margin-top: -10px;
}

.footer .footer-box {
  display: grid;
  grid-template-columns: 500px 100px 200px;
  justify-content: space-between;
  gap: 20px;
}

.footer .footer-box .box:nth-child(1) div {
  display: flex;
  gap: 10px;
}

.footer .footer-box .box:nth-child(1) div h2 {
  color: var(--text-color);
}

.footer .footer-box .box:nth-child(1) p {
  color: var(--text-color-opacity);
  line-height: 1.5;
}

.footer .footer-box .box:nth-child(2) {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer .footer-box .box:nth-child(2) a {
  color: var(--text-color-opacity);
  text-decoration: none;
}

.footer .footer-box .box:nth-child(3) {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer .footer-box .box:nth-child(3) a {
  color: var(--text-color-opacity);
  text-decoration: none;
}

.footer .footer-box .box a:hover {
  color: var(--text-color);
}

/* Copyright */
.copyright {
  padding: 50px 0 50px 0;
  background-color: #2b2d42;
  margin-top: -10px;
}

.copyright .copy-box {
  display: flex;
  justify-content: space-between;
}

.copyright .copy-box p {
  color: var(--text-color-opacity);
  line-height: 1.7;
}

.copyright .copy-box .social-footer i {
  color: var(--text-color-opacity);
  font-size: 26px;
}

.copyright .copy-box .social-footer .fa-brands:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.copyright .copy-box .social-footer .fa-twitter {
  margin-inline: 10px;
}

@media screen and (max-width: 1200px) {
  .about .box-about .box:nth-child(2) img {
    width: 500px;
  }
}

@media screen and (max-width: 990px) {
  .navigation .box-navigation .box:nth-child(2) {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: white;
    width: 250px;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }

  .navigation .box-navigation .menu-navigation.menu-active {
    opacity: 1;
    top: 100px;
  }

  .navigation .box-navigation .box:nth-child(2) ul {
    flex-direction: column;
  }

  .navigation .box-navigation .box:nth-child(2) ul li {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    margin-left: 0;
  }

  .navigation .box-navigation .box:nth-child(2) ul li i {
    margin-inline: 10px;
    font-size: 24px;
    display: inline-block;
  }

  .navigation .box-navigation .box:nth-child(2) ul li a {
    color: black;
  }

  .navigation .box-navigation .box:nth-child(3) {
    display: flex;
    align-items: center;
  }

  .navigation .box-navigation .box:nth-child(3) i {
    font-size: 24px;
  }

  header .hero h1 {
    font-size: 40px;
  }

  .about .box-about {
    flex-direction: column-reverse;
  }

  .about .box-about .box:nth-child(1) {
    text-align: center;
    margin-top: 30px;
    padding-right: 0;
  }

  .about .box-about .box:nth-child(2) img {
    width: 400px;
  }

  .layanan {
    height: 100%;
    padding-top: 50px;
  }

  .layanan .box-layanan {
    flex-direction: column;
  }

  .layanan .box-layanan .box {
    margin-bottom: 30px;
  }

  .layanan .box-layanan .box img {
    width: 300px;
  }

  .footer .footer-box {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
}

@media screen and (max-width: 768px) {
  header .hero h1 {
    font-size: 30px;
  }

  .gallery {
    height: 100%;
    padding: 30px 0 30px 0;
  }

  .contact .contact-box .box p {
    font-size: 14px;
    width: 90%;
  }

  .copyright .copy-box {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 575px) {
  .about .box-about .box:nth-child(1) h1 {
    font-size: 34px;
  }

  .about .box-about .box:nth-child(1) p {
    font-size: 14px;
  }

  .about .box-about .box:nth-child(2) img {
    width: 300px;
  }

  .layanan .box-layanan .box img {
    width: 250px;
  }

  .layanan .box-layanan .box h1 {
    font-size: 18px;
  }

  .layanan .box-layanan .box p {
    font-size: 14px;
  }

  .contact .contact-box .box p {
    font-size: 12px;
  }
}

@media screen and (max-width: 475px) {
  header .hero h1 {
    font-size: 20px;
  }

  .about .box-about .box:nth-child(1) h1 {
    font-size: 28px;
  }

  .about .box-about .box:nth-child(1) p {
    font-size: 12px;
  }

  .about .box-about .box:nth-child(2) img {
    width: 250px;
  }

  .footer .footer-box .box:nth-child(1) p {
    font-size: 14px;
  }
}

@media screen and (max-width: 375px) {
  .navigation .box-navigation .box:nth-child(2) {
    right: 30px;
  }

  .navigation .box-navigation .menu-navigation.menu-active {
    right: 30px;
  }

  .about .box-about .box:nth-child(1) h1 {
    font-size: 24px;
  }

  .about .box-about .box:nth-child(1) p {
    font-size: 10px;
  }

  .about .box-about .box:nth-child(2) img {
    width: 200px;
  }

  .layanan .box-layanan .box img {
    width: 200px;
  }

  .layanan .box-layanan .box h1 {
    font-size: 16px;
  }

  .layanan .box-layanan .box p {
    font-size: 12px;
  }

  .footer .footer-box .box:nth-child(1) p {
    font-size: 12px;
  }
}
